.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'Identifier Admin', identifier_admin_index_path
				%li
					%strong
						New Identifier for #{@identifier.parent_obj.to_s}



	= form_for @identifier, url: identifier_admin_index_path do |f|
		= hidden_field_tag :redirect_to, params[:redirect_to] || request.referrer
		= f.hidden_field :parent_obj_type
		= f.hidden_field :parent_obj_id
		.row
			.col-xs-6
				.form-group
					= f.label :provider
					= f.text_field :provider, class: 'form-control'
			.col-xs-6
				.form-group
					= f.label :label
					= f.text_field :label, class: 'form-control'

		.row
			.col-xs-12
				.form-group
					= f.label :identifier
					= f.text_field :identifier, class: 'form-control'

				.input-group
					= f.submit 'Create', class: 'btn btn-primary'
