.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					= link_to 'User Admin', user_admin_index_path
				%li
					%strong
						Edit
						= @user.to_s
		.col-xs-2
			%a.btn.btn-danger{ href: user_admin_path( @user ), data: { method: 'delete', confirm: 'Are you sure?' } }
				Delete



	= form_for @user, url: user_admin_path( @user ), method: :put do |f|
		.row
			.col-xs-2
				.form-group
					= f.label :avatar_attachment, "Avatar"
					- if @user.avatar

						%a{ 'data-clipboard-text' => @user.avatar }
							= image_tag @user.avatar, class: 'img img-responsive img-rounded center-block'
					= f.file_field :avatar_attachment
			.col-xs-6
				.row
					.col-xs-6
						= f.label :first_name
						= f.text_field :first_name, class: 'form-control'
					.col-xs-6
						= f.label :last_name
						= f.text_field :last_name, class: 'form-control'

				.row
					.col-xs-6
						= f.label :email
						= f.text_field :email, class: 'form-control'
					.col-xs-6
						= f.label :username, 'User Name'
						= f.text_field :username, class: 'form-control'


			.col-xs-4
				- if params[:pw].present?
					%h4
						Temp PW:
						= params[:pw]
				.form-group
					= f.label :created_at, 'Joined'

					= @user.created_at

				.form-group
					= f.label :status
					= f.collection_select :status, User.statuses, :first, :first, {}, class: 'form-control'
				.form-group
					= f.label :role
					= f.collection_select :role, User.roles, :first, :first, {}, class: 'form-control'
				.form-group
					= f.label :tags_csv, 'Tags:'
					= f.text_field :tags_csv, placeholder: 'Separate tags with commas', class: 'form-control'
				.input-group
					= f.submit 'Update', class: 'btn btn-primary'
